@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  width: 1440px;
}


/* Navbar */
  nav {
    display: flex;
    justify-content: space-around;
    width: 1155px;
    height: 86px;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 32px 127px 0px 158px;
    flex-wrap: wrap;
  }

  
  nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-evenly;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #16133D;
  }

  .button {
    border: none;
    height: 48px;
    width: 119px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    margin-right: -75px;
  }

  .button1 {
    border-radius: 8px;
    border: 2px solid #16133D;
    background-color: white;
  }

  .button2 {
    background-color: #16133D;
    color: white;
    border-radius: 8px;
  }

  nav::after {
    content: '';
    display: block;
    margin-top: 54px;
    margin-right: -90px;
    margin-left: 5px;
    width: inherit;
    border-bottom: 1px solid #EFEEF3;
  }

  /* Banner Section */
  .banner {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 54px 101px 0px 205px;
    flex-wrap: nowrap;
    width: 1181px;
  }

  .text-banner {
    margin-right: 101px;
  }

  .header-banner {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 56px;
    line-height: 68px;
    letter-spacing: 0.2px;
    color: #16133D;
    margin-bottom: 20px;
    -webkit-text-stroke: 1px #000000;
    text-shadow: 0 4px 4px #00000025;
  }

  .paragraph-banner {
    font-family: "Roboto", sans-serif;
    line-height: 36px;
    font-size: 19px;
    color: #183B56;
    margin-bottom: 31px;
  }

  .button-banner {
    border: none;
    height: 48px;
    width: 179px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    margin-right: 20px;
  }

  .button1-banner {
    border-radius: 8px;
    background-color: #007FFC;
    color: white;
    line-height: 19px;
  }

  .button2-banner {
    border-radius: 8px;
    border: 2px solid #007FFC;
    background-color: white;
    color: #007FFC;
  }

  .img-banner {
    border-radius: 8px;
    position: relative;
  }

  .next-button {
    width: 55px;
    height: 55px;
    background-color: #16133D;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .next-button-left {
    position: relative;
    top: -240px;
    left: -27px;
  }

  .next-button-right {
    position: relative;
    top: -295px;
    right: -550px;
  }

  /* Service Section */

  .service {
    margin: 100px 101px 0 205px;
  }

  .services-header-small {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #7690A8;
    text-transform: uppercase;
    margin-bottom: 17px;
  }

  .services-header-big {
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.2px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600px;
    color: #16133D;
    margin-bottom: 6px;
  }

  .paragraph-service {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #16133D;
    margin-bottom: 61px;
  }

  .service-list{
    display: flex;
    justify-content: space-evenly;
    margin-top: 61px;
  }

  .services {
    padding: 40px;
    height: 347px;
    width: 360px;
    border-radius: 8px;
    background-color: #FFFFFF;
    border: 1px solid #E5EAF4;
    margin-bottom: 64px;
    color: #16133D;
  }

  .services-logo {
    margin-bottom: 28px;
    border: 1px solid #1566d810;
    width: 64px;
    height: 64px;
    border-radius: 16px;
  }

  .services-logo1 {
    margin-left: 12px;
    margin-top: 12px;
  }

  .services-logo2 {
    margin-left: 12px;
    margin-top: 12px;
  }

  .services-logo3 {
    margin-left: 18px;
    margin-top: 12px;
  }

  .services-name {
    margin-bottom: 14px;
  }

  .paragraph-services {
    margin-bottom: 29px;
  }

  /* Features Section */

  .features {
    margin: 100px 101px 0 205px;
  }

  .features-header-small {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #7690A8;
    text-transform: uppercase;
    margin-bottom: 17px;
  }

  .features-header-big {
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.2px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600px;
    color: #16133D;
    margin-bottom: 6px;
  }

  .paragraph-features {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #7690A8;
    margin-bottom: 61px;
  }

  .features-list {
    display: flex;
    justify-content: space-between;
  }

  .features-1 {
    border: 1px solid #00000012.5;
    width: 555px;
    height: 485px;
    border-radius: 8px;
  }

  .features-2 {
    border: 1px solid #00000012.5;
    width: 555px;
    height: 485px;
    border-radius: 8px;
  }

  .img-features {
    border-radius: 8px;
  }

  .text-photo {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin: -166px 56px 64px 48px;
    font-size: 36px;
  }

  /* Pricing Section */

  .pricing {
    margin: 160px 101px 0 205px;
  }

  .pricing-header {
    font-family: 'Nunito Sans', sans-serif;
    font-family: 600;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.2px;
    color: #16133D;
    margin-bottom: 7px;
  }

  .pricing-paragraph {
    margin-bottom: 80px;
    font-family: 'Roboto', sans-serif;
    line-height: 28px;
    font-size: 18px;
    font-weight: 400;
    color: #5A7184;
  }

  .price-list{
    display: flex;
    justify-content: space-between;
    margin-top: 61px;
  }

  .price {
    text-align: center;
    padding: 50px;
    height: 436px;
    width: 360px;
    border-radius: 0 0 8px 8px;
    background-color: #FFFFFF;
    border: 1px solid #E5EAF4;
    box-shadow: 0 10px 35px #00000003;
    color: #16133D;
  }

  .price-name {
    font-family: 'Roboto', sans-serif;
    line-height: 32px;
    letter-spacing: 0.2px;
    font-weight: 400;
    margin-bottom: 32px;
    color: #16133D;
    font-size: 24px;
  }

  .price-dollar {
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.2px;
    font-weight: 500;
  }

  .price-dollar-1 {
    color: #007FFC;
  }

  .price-dollar-2 {
    color: #52C29D;
  }

  .price-dollar-3 {
    color: #F04D5D;
  }

  .price-description {
    margin-bottom: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #5A7184;
  }

  .paragraph-price {
    margin-bottom: 56px;
    color: #7690A8;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 28px;
  }

  .price--one {
    border-top: 4px solid #007FFC;
    width: 360px;
  }

  .price--two {
    border-top: 4px solid #52C29D;
    width: 360px;
  }

  .price--three {
    border-top: 4px solid #F04D5D;
    width: 360px;
  }

  .button-price {
    border: none;
    height: 48px;
    width: 171px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 44px;
    cursor: pointer;
    font-weight: 400;
    border-radius: 50px;
  }

  .button-price-1 {
    border: 2px solid #16133D;
    background-color: white;
  }

  .button-price-2 {
    border: 2px solid #16133D;
    background-color: white;
  }

  .button-price-3 {
    background-color: #16133D;
    color: white;
  }

  /* Ads Section */

  .ads {
    margin: 200px 101px 0 205px;
    width: 1150px;
    height: 380px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 95px;
    flex-wrap: wrap;
    text-align: center;
    background: url('img/banner.png'), #007FFC;
    background-position: center;
    background-repeat: no-repeat;
  }

  .ads-name {
    font-family: 'Roboto', sans-serif;
    line-height: 52px;
    letter-spacing: 0.2px;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 19px;
    color: #FFFFFF;
  }

  .paragraph-ads {
    color: #ffffff60;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 63px;
    width: 100%;
  }

  .button-ads {
    border: none;
    height: 48px;
    width: 171px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: auto;
    cursor: pointer;
    font-weight: 400;
    border-radius: 50px;
  }

  .button-ads-1 {
    border: 2px solid #FFFFFF;
    color: #183B56;
    margin-right: 20px;
  }

  .button-ads-2 {
    border: 2px solid #FFFFFF;
    background-color: transparent;
    color: white;
  }

  /* Footer Section */

  .footer {
    /* width: 1519px; */
    width: 100%;
    height: 573px;
    background-color: #16133D;
    margin-top: 200px;
  }







  /* Responsive Breakpoint */

  /* Smartphone */
  @media (min-width: 576px) {

  }

  /* Tablet */
  @media (min-width: 768px) {

  }







