@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
  .navbar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 0 auto 0;
    padding: 50px;
    flex-wrap: wrap;
  }

  .unordered-list {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-evenly;
    padding: 10px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #16133D;
  }

  .button {
    border: none;
    height: 48px;
    width: 119px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
  }

  .button1 {
    border-radius: 8px;
    border: 2px solid #16133D;
    background-color: white;
    margin-right: -70px;
  }

  .button2 {
    background-color: #16133D;
    color: white;
    border-radius: 8px;
  }

  .navbar::after {
    content: '';
    display: block;
    margin: 54px 70px 0 90px;
    width: inherit;
    border-bottom: 1px solid #EFEEF3;
  }

  /* Banner Section */
  .banner {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 24px 101px 0px 205px;
    flex-wrap: nowrap;
    width: 1181px;
  }

  .text-heading {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 56px;
    line-height: 68px;
    letter-spacing: 0.2px;
    color: #16133D;
  }

  .text-description {
    font-family: "Roboto", sans-serif;
    line-height: 36px;
    font-size: 19px;
    color: #183B56;
  }

  .text-banner {
    margin-right: 101px;
  }

  .banner .banner__title {
    margin-bottom: 20px;
    -webkit-text-stroke: 1px #000000;
    text-shadow: 0 4px 4px #00000025;
  }

  .banner .banner__paragraph {
    margin-bottom: 31px;
  }

  .btn {
    border: none;
    height: 48px;
    width: 179px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
  }

  .btn-primary {
    border-radius: 8px;
    background-color: #007FFC;
    color: white;
    line-height: 19px;
    margin-right: 20px;
  }

  .btn-outline-primary {
    border-radius: 8px;
    border: 2px solid #007FFC;
    background-color: white;
    color: #007FFC;
  }

  .img-banner {
    border-radius: 8px;
    position: relative;
  }

  .btn-carousel-controls {
    width: 55px;
    height: 55px;
    background-color: #16133D;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-next {
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
  }

  .btn-prev {
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
  }

  /* Service Section */

  .service {
    margin: 100px 101px 0 205px;
  }

  .heading-small {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #7690A8;
    text-transform: uppercase;
    margin-bottom: 17px;
  }

  .services__title {
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.2px;
    margin-bottom: 6px;
  }

  .services__paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 61px;
  }

  .service-list{
    display: flex;
    justify-content: space-between;
    margin-top: 61px;
  }

  .services {
    padding: 40px;
    width: 30%;
    border-radius: 8px;
    background-color: #FFFFFF;
    border: 1px solid #E5EAF4;
    margin-bottom: 64px;
    color: #16133D;
  }

  .services-logo {
    margin-bottom: 28px;
    border: 1px solid #1566d810;
    width: 64px;
    height: 64px;
    border-radius: 16px;
  }

  .services-logo1 {
    margin-left: 12px;
    margin-top: 12px;
  }

  .services-logo2 {
    margin-left: 12px;
    margin-top: 12px;
  }

  .services-logo3 {
    margin-left: 18px;
    margin-top: 12px;
  }

  .service-list .service-list-title {
    margin-bottom: 14px;
    font-weight: 400;
    line-height: 21.3px;
    letter-spacing: 0.2px;
    font-size: 24px;
  }

  .service-list .service-list-paragraph {
    margin-bottom: 29px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.2px;
    font-size: 16px;
    color: #16133D;
  }

  .service-list .learn-more {
    font-weight: 400;
    letter-spacing: auto;
    font-size: 16px;
  }

  /* Features Section */

  .features {
    margin: 100px 101px 0 205px;
  }

  .features .features__title {
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.2px;
    margin-bottom: 6px;
  }

  .features .features__paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 61px;
    color: #7690A8;
  }

  .features-list {
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    border: 1px solid #00000012.5;
  }

  .features-music {
    width: 48%;
    height: 485px;
  }

  .features-sport {
    width: 48%;
    height: 485px;
  }

  .img-features {
    border-radius: 8px;
  }

  .text-photo {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin: -166px 56px 64px 48px;
    font-size: 36px;
  }

  /* Pricing Section */

  .pricing {
    margin: 160px 101px 0 205px;
  }

  .pricing .pricing__title {
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.2px;
    margin-bottom: 7px;
  }

  .pricing .pricing__paragraph {
    margin-bottom: 80px;
    line-height: 28px;
    font-size: 18px;
    font-weight: 400;
    color: #5A7184;
  }

  .price-list{
    display: flex;
    justify-content: space-between;
    margin-top: 61px;
  }

  .price {
    text-align: center;
    width: 30%;
    padding: 50px;
    height: 436px;
    border-radius: 0 0 8px 8px;
    background-color: #FFFFFF;
    border: 1px solid #E5EAF4;
    box-shadow: 0 10px 35px #00000003;
    color: #16133D;
  }

  .price-name {
    font-family: 'Roboto', sans-serif;
    line-height: 32px;
    letter-spacing: 0.2px;
    font-weight: 400;
    margin-bottom: 32px;
    color: #16133D;
    font-size: 24px;
  }

  .price-dollar {
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.2px;
    font-weight: 500;
  }

  .price-dollar-beginner {
    color: #007FFC;
  }

  .price-dollar-advenced {
    color: #52C29D;
  }

  .price-dollar-master {
    color: #F04D5D;
  }

  .price-description {
    margin-bottom: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #5A7184;
  }

  .paragraph-price {
    margin-bottom: 56px;
    color: #7690A8;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 28px;
  }

  .price--beginner {
    border-top: 4px solid #007FFC;
  }

  .price--advenced {
    border-top: 4px solid #52C29D;
  }

  .price--master {
    border-top: 4px solid #F04D5D;
  }
  
  .price-list .btn-primary-price {
    border: 2px solid #16133D;
    background-color: white;
    border-radius: 50px;
    font-weight: 400;
    line-height: 44px;
    width: 171px;
  }

  .price-list .btn-outline-primary-price {
    background-color: #16133D;
    color: white;
    border-radius: 50px;
    font-weight: 400;
    line-height: 44px;
    width: 171px;
  }

  /* Ads Section */

  .ads {
    margin: 200px 101px 0 205px;
    width: 1150px;
    height: 380px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 95px;
    flex-wrap: wrap;
    text-align: center;
    background: url('img/banner.png'), #007FFC;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
  }

  .ads-name {
    line-height: 52px;
    letter-spacing: 0.2px;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 19px;
    color: #FFFFFF;
  }

  .paragraph-ads {
    color: #ffffff60;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 63px;
    width: 100%;
  }

  .ads .btn-primary-ads {
    border: 2px solid #FFFFFF;
    color: #183B56;
    margin-right: 20px;
    width: 171px;
    line-height: auto;
    font-weight: 400;
    border-radius: 50px;
  }

  .ads .btn-outline-primary-ads {
    border: 2px solid #FFFFFF;
    background-color: transparent;
    color: white;
    width: 171px;
    line-height: auto;
    font-weight: 400;
    border-radius: 50px;
  }

  /* Footer Section */

  .footer {
    margin-top: 200px; 
    background: #16133D;
    display: flex;
    width: 100%;
    justify-content: space-evenly; 
    flex-wrap: wrap;
    padding: 90px;
    font-family: 'Roboto', sans-serif;
    color: #EFEEF3;
  }

  .footer ul li {
    list-style: none;
    margin-bottom: 20px;
  }

  .footer ul li a {
    text-decoration: none;
    color: #EFEEF3;
    font-size: 15px;

    line-height: auto;
    font-weight: 400;
  }

  .text-footer {
    width: 24%;
    margin-right: 50px;
  }

  .footer .footer_paragraph {
    font-size: 16px;
    line-height: 28px;
    color: #EFEEF3;
    font-weight: 400;
    margin: 28px 0 58px 0;
  }

  .social {
    display: flex;
    justify-content: space-evenly;
  }

  .social-media {
    width: 38px;
    height: 38px;
    border-radius: 5px;
    border: none;
    background: #EFEEF3;
  }

  .social-icons {
    padding: 8px;
  }

  .facebook {
    margin-left: 5px;
  }

  .reddit {
    margin-left: 1px;
  }

  .dribble {
    margin-left: 1px;
  }

  .twitter {
    margin-left: 2px;
  }

  .services-footer-header {
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 28px;
    font-weight: 400;
  }

  .company-footer-header {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 28px;
    font-weight: 400;
  }

  .contact-footer-header {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 40px;
  }

  .contact-footer-paragraph {
    font-size: 15px;
    line-height: auto;  
    margin-bottom: 19px;
  }

  .contact-footer-mail {
    font-size: 25px;
    line-height: auto;
  }

  .img-contact {
    margin-top: 28px;
    display: flex;
    align-items: center;
  }

  .gpdr-img {
    margin-right: 20px;
  }

  .copyright {
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    margin: 153px 0 0px 0;
  }








  /* Responsive Breakpoint */

  /* Smartphone */
  @media (min-width: 576px) {

  }

  /* Tablet */
  @media (min-width: 768px) {

  }







